$theme-vars: (
  container-spacer:              rh-size-prem(16px),
  container-padding:             rh-size-prem(16px),
  content-spacer:                rh-size-prem(16px),

  font-size:                     16px,
  line-height:                   1.5,

  font-family:                   '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
  font-family--heading:          '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
  font-family--code:             '"Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace',

  font-size--heading--alpha:     $rh-global--FontSize--heading--xxl,
  font-size--heading--beta:      $rh-global--FontSize--heading--xl,
  font-size--heading--gamma:     $rh-global--FontSize--heading--lg,
  font-size--heading--delta:     $rh-global--FontSize--heading--md,
  font-size--heading--epsilon:   $rh-global--FontSize--heading--sm,
  font-size--heading--zeta:      $rh-global--FontSize--heading--xs,

  link--text-decoration:         underline,
  link--text-decoration--hover:  underline,

  surface--border-width:         1px,
  surface--border-style:         solid,
  surface--border-radius:        0,
  ui--border-width:              1px,
  ui--border-style:              solid,
  ui--border-radius:             2px,

  box-shadow--sm:                '0  #{rh-size-prem(1)}  #{rh-size-prem(2)} 0 rgba(#{$rh-global--color--gray12}, .2)',
  box-shadow--md:                '0  #{rh-size-prem(2)}  #{rh-size-prem(1)} #{rh-size-prem(1)} rgba(#{$rh-global--color--gray12}, .12), 0  #{rh-size-prem(4)}  #{rh-size-prem(11)} #{rh-size-prem(6)} rgba(#{$rh-global--color--gray12}, .05)',
  box-shadow--lg:                '0  #{rh-size-prem(3)}  #{rh-size-prem(7)} #{rh-size-prem(3)} rgba(#{$rh-global--color--gray12}, .13), 0  #{rh-size-prem(11)}  #{rh-size-prem(24)} #{rh-size-prem(16)} rgba(#{$rh-global--color--gray12}, .12)',
  box-shadow--inset:             'inset 0 0 #{rh-size-prem(10)} 0 rgba(#{$rh-global--color--gray12}, .25)',

  animation-timing:              cubic-bezier(0.465, 0.183, 0.153, 0.946),
);
